@import url("https://fonts.googleapis.com/css?family=VT323");
@import url('https://fonts.googleapis.com/css?family=Tajawal');

.background{
    background-color: #ffd560;
}

h2,h1{
    font-family: 'Tajawal', sans-serif;
}


.mycontainer{
    width: 500px;
    height: 600px;
    margin: 0 auto; 
   
}

.avatar-wrapper {
    width: 125px;
    height: 120px;
    position: absolute;
    top: -53px;
    left: 37%;
    padding: 50px;
    border-radius: 50%;
  
}


h2{
    padding-top: 40px;
    padding-bottom: 5px
}

.form{    
    margin-top: 0px;
    padding: 20px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
    border: 3px solid white;
    background: url(http://www.graphicartsunit.com/images/noise2.png);
    position: absolute;
    content: "";
    border-radius: 5px 5px 10px 10px;
    position: relative;
    margin-top: 26%;
    margin-bottom: 15%;
	
}

.avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 1px;
    left: 1%;

}

.buttonPage{
    justify-content: center;}

    .animate
    {
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
    }
    
    .action-button
    {
        position: relative;
        padding: 5px 20px;
        margin: 0px 10px 10px 0px;
        float: left;
        border-radius: 10px;
        font-family: 'VT323';
        font-size: 30px;
        color: #FFF;
        text-decoration: none;	
    }

    .red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}


.buttonDesign{
    background-color: black;
    height: 100px;
    width: 200px;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


.containerHome{
    align-items: center;
    /* background-color: blueviolet;
    height: 200px;
    width: 200px; */
    
}
.changeNav:hover{
  color:red
}
